{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}


{% block title %}Manage Users{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>用户管理
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Filter </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter', 'all') == 'all' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='all') }}">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'unread' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='unread') }}">普通用户 {% if unread_comments %}<span
                        class="badge badge-success">{{ unread_comments }}</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.args.get('filter') == 'admin' %}active{% endif %}"
                   href="{{ url_for('admin.manage_user', filter='admin') }}">博文用户</a>
            </li>
        </ul>
    </div>

    {% if users %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Author</th>
                <th>Comments</th>
                <th>Pots</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index + ((pagination.page - 1) * config['BLUELOG_COMMENT_PER_PAGE']) }}</td>
                    <td>{{ user.name }}{% if user.admin %}<span class="badge badge-success">po主</span>
                        {% endif %}
                        <br><a class="badge badge-primary">
                        <span>{{ moment(user.timestamp).format('YYYY-MM-D H:M') }}</span>
                        <br><span href="mailto:{{ user.email }}">{{ user.email }}</span>
                    </a>
                    </td>
                    <td>{{ user.comments|length }}</td>
                    <td>{{ user.admin.pots|length }}</td>
                    <td>{{ moment(user.timestamp).format('YYYY-MM-D H:M') }}</td>
                    <td>
                        {% if not user.admin %}
                            <form class="inline" method="post"
                                  action="{{ url_for('.approve_user', user_id=user.id, next=request.full_path) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button type="submit" class="btn btn-success btn-sm">开通po</button>
                            </form>
                            {% else %}
                            <a class="btn btn-info btn-sm" href="{{ url_for('user.index', user_id=user.id) }}"
                           target="_blank">主页</a>
                        {% endif %}
                        <form class="inline" method="post"
                              action="{{ url_for('.delete_user', user_id=user.id, next=request.full_path) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Are you sure?');">删除
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>还没有用户~</h5></div>
    {% endif %}
{% endblock %}