{% if blogs %}
    {% for blog in blogs %}
        <h3 class="text-primary"><a href="{{ url_for('blog.show_post', blog_id=blog.id) }}">{{ blog.description }}</a></h3>
        <p>
            {{ blog.text.body|striptags|truncate }}
            <small><a href="{{ url_for('blog.show_post', blog_id=blog.id) }}">...阅读全文</a></small>
        </p>
        <small>
            评论: <a href="{{ url_for('blog.show_post', blog_id=blog.id) }}#comments">{{ blog.comments|length }}</a>&nbsp;&nbsp;
            分类: <a
                href="{{ url_for('blog.show_category', category_id=blog.category.id) }}">{{ blog.category.name }}</a>
            <span class="float-right">{{ moment(blog.timestamp).fromNow(refresh=True) }}</span>
        </small>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="tip">
        <h5>还没有文章</h5>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.new_post') }}">现在去发布~</a>
        {% endif %}
    </div>
{% endif %}