{% extends 'base.html' %}

{% block title %}关于{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>关于</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            {% if current_user.is_authenticated and admin_user %}
                {{ admin_user.about|safe }}
                {% else %}
                    {{ admin.about|safe }}
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
{% endblock %}
